@media only screen and (min-width: 1000px) {
    body {
      background-color:#4F7FFA;
      padding-top: 30px;
    }

    .container-main {
      background-color: #FFFFFF;
      width: 375px;
      height: 900px;
      margin: 0 auto;
      padding: 0 15px;
    }

    .wrapper-top-statusBar {
    width: 3px;
    height: 10px;
    top: 2px;
    padding: 15.5px;
    color: #000000;
    }

    .top-clock {
      background-color: aquamarine;
      display: block;
      float: left;
      width:30%;
    }

    .wrapper-top-statusBar ul {
      display: block;
      float: left;
      width:40%;
    }

    .wrapper-top-statusBar ul li {
      display: block;
      float: right;
    }
  }