@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Source+Sans+Pro:wght@600&display=swap');

@media only screen and (min-width: 1000px) {
    body {
      background-color:#4F7FFA;
      padding-top: 13px;
    }

    .container-main {
      background-color: #FFFFFF;
      width: 375px;
      height: 900px;
      margin: 0 auto;
      padding: 16px 15px;
    }

    .wrapper-top-statusBar {
      height:16px;
    }

    .wrapper-top-statusBar .top-clock {
      display: block;
      float: left;
      width:30%;
      padding: 0px 7px;
      font-family: Arial, serif;
      font-family: Inter, serif;
      font-weight: 600;
    }

    .wrapper-top-statusBar ul li {
      display: block;
      float: right;
      margin-left: 4px;
    }

    .wrapper-weatherPerHourHeadline p{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
    }
    
    .wrapper-weatherDailyHeadline p{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
    }

    .wrapper-weatherPerHourCards{
      position: relative;
      display:inline;
      text-align: center;
      justify-content: space-around;
    }

    .first{
      position: relative;
      top: 10px;
      display:inline;
      justify-content: end;
      margin-left: 15px;
    }
    .second{
      position: relative;
      bottom: 45px;
      left: 100px;
      display:inline;
      margin-left: 10px;
    }

    .third{
      position: relative;
      bottom: 95px;
      left: 200px;
      display:inline;
      margin-left: 10px;
    }

    .fourth{
      position: relative;
      bottom: 145px;
      left: 300px;
      display:inline;
      margin-left: 15px;
    }
    h5{
      font-style: normal;
      font-weight: bolder;
      margin-left: 15px;
    }

  }